<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stan podlewania</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>



<div class="container-fluid">
<div class="row">  
    <h1>Obecny stan podlewania</h1>
    <h2>..%</h2>
    <a href="/remote_controller/"><button>Zaprogramuj</button>
</div>  
</div>

</body>
</html>