<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Przepływomierz DB</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>



<div class="">
 <h1>Przepływomierz DB</h1>

 {% if flow_db_list %}
 <ul>
     {% for data in flow_db_list %}
     <li>
        {{ data.value }} | {{ data.pub_date }}
     </li>
     {% endfor %}
 </ul>

 {% else %}
 <p>No data</p>
 {% endif %}

</div>

</body>
</html>